name: Generate JSON-RPC API Schema & Documentation

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Minecraft Version (ex. 1.21.9 or latest-snapshot)'
        required: true
        default: 'latest-snapshot'

permissions:
  contents: write

jobs:
  generate-schema:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: 'Get manifest information'
        id: 'manifest'
        uses: MinecraftPlayground/manifest@main
        with:
          version: ${{ github.event.inputs.version }}

      - name: 'Setup Java (required by Minecraft)'
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ steps.manifest.outputs.java-version }}
        
      - name: 'Download Minecraft server.jar'
        id: 'download-server-jar'
        run: |
          curl -o server.jar "${{ steps.manifest.outputs.server-download-url }}"
          echo "Downloaded server.jar for version ${{ steps.manifest.outputs.version }}"

      - name: 'Run Data Generator (--reports)'
        run: |
          java -DbundlerMainClass=net.minecraft.data.Main -jar server.jar --reports
          mv './generated/reports/json-rpc-api-schema.json' './schema.json'

      - name: 'Write JSON content to Job Summary'
        run: |
          echo "# Generated JSON-RPC API Schema for Minecraft ${{ steps.manifest.outputs.version }}" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`json" >> $GITHUB_STEP_SUMMARY
          cat "./schema.json" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

      - name: 'Upload json-rpc-api-schema.json as artifact'
        uses: actions/upload-artifact@v4
        with:
          name: 'json-rpc-api-schema'
          path: './schema.json'

  publish-page:
    needs: ['generate-schema']
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: Download a Build Artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: 'json-rpc-api-schema'
          path: 'src'

      - name: list
        run: |
          ls src
